<div class="no-animate">
<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Welcome to laf!</h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
        </div>
    
    <div class="panel panel-body">
        </div>
        </div>
    <button ng-show="$ctrl.isLoggedIn()" class="btn btn-block" ng-click="$ctrl.lost()"> I lost something! </button>
    <button ng-show="$ctrl.isLoggedIn()" class="btn btn-block" ng-click="found()"> I found something! </button>
</section>
</div>