.in-text{
vertical-align: middle;
display: inline-block;
float: none;
}
.alert{
display:none;
}
.modal-body {
position: relative;
overflow-y: auto;
max-height: 400px;
padding: 15px;
}

.spacer { margin:0; padding:0; height:350px; }