<div class="container">
<div class="panel panel-default">
  <div class="panel panel-heading">
    <h2 class="panel-title text-center"> Your Lost Things</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Description</th>
          <th>Locations</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr  ng-repeat="thing in return_items">
          <th scope="row">{{$index+1}}</th>
          <td>{{thing.itemName}}</td>
          <td>{{thing.itemDesc}}</td>
          <td><button class="btn btn-info" ng-click="lostPageCtrl.locationClick(thing)"> Location </button>
          <td><button class="btn btn-danger" ng-click="lostPageCtrl.removeLocation(thing)"><span class="glyphicon glyphicon-remove-sign"></span></button></td>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>

</div>